.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: rgb(0, 116, 221);
    background: linear-gradient(
        90deg,
        rgba(0, 116, 221, 0.5) 0%,
        rgba(175, 0, 249, 0.5) 100%
    );
    padding: 1.2rem;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio__item:hover {
    background: transparent;
    box-shadow: 0 0 10px 1px var(--color-primary);
}

.portfolio__item-image {
    overflow: hidden;
}

.portfolio__item p {
    margin: 0 0 2rem;
    color: #ffffffad;
    text-align: center;
    font-size: 0.85em;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.portfolio__item-cta a {
    background-color: var(--color-primary);
    color: black;
    padding: 0.5rem 0.7rem;
}
.portfolio__item-cta a:hover {
    background: rgb(0, 116, 221);
    background: linear-gradient(
        90deg,
        rgba(0, 116, 221, 0.5) 0%,
        rgba(175, 0, 249, 0.5) 100%
    );
    color: white;
}

/*===== Media Queries ( Medium Screen Devices) =====*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*===== Media Queries ( Small Screen Devices) =====*/
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
