.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    padding: 1.2rem;
    text-align: center;
    transition: var(--transition);
    border-radius: 0.75rem;
}

.contact__option:hover {
    background: var(--color-primary);
    box-shadow: 0 0 10px 1px var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
    color: var(--color-white-variant);
}


h3 {
    text-align: center;
}

/*======= Form ========*/
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    font-size: 1rem;
    width: 100%;
    padding: 1rem 1.5rem;
    border: 2px solid var(--color-primary);
    resize: none;
    background-color: var(--color-white-variant);
    border-radius: 0.75rem;
}

/*===== Media Queries ( Medium Screen Devices) =====*/
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/*===== Media Queries ( Small Screen Devices) =====*/
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}
