@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");

header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header_container > h1 {
  font-family: "Splash", cursive;
  font-size: 4rem;
}

.header_container > h2 {
  font-family: "Splash", cursive;
  font-size: 5rem;
}

.header_container > h5 {
  font-family: "Krona One", sans-serif;
  font-size: 1rem;
  color: var(--color-primary);
  margin: 0.5rem auto;
}

.line {
  position: absolute;
  left: 30%;
  width: 40%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 5px;
  background: rgb(0, 116, 221);
  background: linear-gradient(
    90deg,
    rgba(0, 114, 221, 0.6) 0%,
    rgba(174, 0, 249, 0.6) 100%
  );
}

/*===== Code To Action =====*/
.cta {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 8rem;
}

/*===== Header Socials =====*/
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background-color: var(--color-primary);
}

/*===== Scroll Down =====*/
.scroll_down {
  position: absolute;
  right: -4rem;
  bottom: 7rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  line-height: 0;
}

/*===== Media Queries ( Medium Screen Devices) =====*/
@media screen and (max-width: 1024px) {
  header {
    height: 90vh;
  }
  .cta {
    margin-top: 3rem;
  }

  .line {
    display: none;
  }
  /* .me{
        width: 15rem;
        height: 20rem;
        margin-top: 1rem;
        padding: 1rem;
    } */
}

/*===== Media Queries ( Small Screen Devices) =====*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

<<<<<<< HEAD
=======
  .header_socials{
    bottom: 5rem;
  }
  .scroll_down {
    bottom: 10rem;
    font-size: small;
  }

>>>>>>> c8d713e (styles and content modified)
  .header_container > h2 {
    font-size: 2.5rem;
  }

  .line {
    display: none;
    margin-bottom: 1rem;
  }

  .header_container h1 {
    font-size: 27px;
  }

  .header_container > h5 {
    margin: 1rem auto;
  }

  .cta {
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
  }
}
