@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");

header {
  height: 100vh;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_container > h1 {
  font-size: 3rem;
  line-height: 0.5;
}

.header_container > h2 {
  font-size: 4rem;
  line-height: 1;
}

.header_container > h3 {
  font-family: "Krona One", sans-serif;
  font-size: 2rem;
  margin: 2.5rem 0;
  color: var(--color-primary);
  text-shadow: 1px 1px var(--color-primary-variant);
}

.line {
  left: 30%;
  width: 60%;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  height: 3px;
  background: rgb(0, 116, 221);
  background: linear-gradient(
    90deg,
    var(--color-blue) 30%,
    var( --color-primary) 70%
  );
}

/*===== Code To Action =====*/
.cta {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 8rem;
}

/*===== Header Socials =====*/
.header_socials {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header_socials a:hover {
  transform: translateY(-0.3rem);
}

.header_socials::before {
  content: "";
  width: 2px;
  height: 2rem;
  background-color: var(--color-primary);
}
.header_socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background-color: var(--color-primary);
}

/*===== Scroll Down =====*/
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 2.5rem;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll_down:hover {
  transform: translateY(-0.3rem);
}

/*===== Media Queries ( Medium Screen Devices) =====*/
@media screen and (max-width: 1024px) {
  .cta {
    margin-top: 3rem;
  }

  .line {
    display: none;
  }
}

/*===== Media Queries ( Small Screen Devices) =====*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header_socials{
    display: flex;
    transform: scale(.7);
    flex-direction: column;
  }

  .scroll_down{
    transform: rotate(90deg) scale(.8);
    padding-bottom: 3rem;
    bottom: 6rem;
  }
  .scroll_down .arrow {
    display: none;
  }

  .header_container > h2 {
    font-size: 2.5rem;
  }

  .line {
    display: none;
    margin-bottom: 1rem;
  }

  .header_container h1 {
    font-size: 25px;
  }

  .header_container > h3 {
    margin: 1rem auto;
  }

  .cta {
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
  }
}

