footer {
  background-color: var(--color-primary-variant);

  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

.footer__logo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  padding: 0 2rem;
  display: inline-block;
  color: white;
  transition: var(--transition);
}

.footer__logo:hover {
  background-color: var(--color-primary);
  color: var(--color-blue);
  box-shadow: var(--color-blue) 2px 10px 10px 1px;
  transform: translateY(-5px);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.permalinks > li > a {
  color: var(--color-white);
}
.permalinks > li > a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  display: flex;
  padding: 0.8rem;
  background: var(--color-white);
  color: var(--color-blue);
  font-size: large;
  border-radius: 0.75rem;
}

.footer__socials a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-white-variant);
  font-size: 1.1rem;
}

/*===== Media Queries ( Small Screen Devices) =====*/
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 2.6rem;
  }
}

@media screen and (max-width: 900px) {
  .footer__logo {
    background-color: var(--color-white);
    color: var(--color-blue);
    box-shadow: var(--color-blue) 2px 10px 10px 1px;
  }
}
