.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: rgb(0, 116, 221);
    background: linear-gradient(
        90deg,
        rgba(0, 116, 221, 0.5) 0%,
        rgba(175, 0, 249, 0.5) 100%
    );
    padding: 2.4rem 4rem;
    transition: var(--transition);
}
.experience__container > div:hover {
    background: black;
    box-shadow: 0 0 10px 1px var(--color-primary);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: bolder;
    border-bottom: 1px solid gold;
    padding-bottom: 1rem;
    text-shadow: 2px 3px 5px #000;
}
.experience__container > div h4 {
    margin-top: 1rem;
}

.dialogue {
    margin: 10px;
}

.faded {
    color: #ffffff75;
    font-family: "Courier New", Courier, monospace;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 20px;
    color: var(--color-primary);
}

.experience__details small {
    color: rgba(255, 217, 0, 0.9);
}

/*===== Media Queries ( Medium Screen Devices) =====*/
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }
    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content {
        padding: 1rem;
    }
}

/*===== Media Queries ( Small Screen Devices) =====*/
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }
    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
    }
    .dialogue {
        text-align: left;
    }
}
