nav {
    background-color: var(--color-white);
    width: max-content;
    padding: 0.7rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
    display: flex;
    gap: 0.8rem;
    backdrop-filter: blur(15px);
    box-shadow: 1px 5px 10px var(--color-primary-variant);
    border-radius: 0.75rem;
}

nav a {
    background: transparent;
    padding: 0.8rem;
    display: flex;
    color: var(--color-blue);
    font-size: 1.1rem;
    border-radius: 0.75rem;
}

nav a:hover {
    background: var(--color-primary);
}

nav a.active {
    color: var(--color-white);
    background-color: var(--color-blue);
}
