nav {
    background: rgba(255, 255, 255, 0.95);
    width: max-content;
    padding: 0.7rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
    display: flex;
    gap: 0.8rem;
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 15px var(--color-primary);
    border-radius: 0.5rem;
}

nav a {
    background: transparent;
    padding: 0.8rem;
    display: flex;
    color: var(--color-black);
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

nav a:hover {
    background: var(--color-primary);
}

nav a.active {
    color: var(--color-white);
    background: rgb(0, 116, 221);
    background: linear-gradient(
        90deg,
        rgba(0, 116, 221) 0%,
        rgba(175, 0, 249) 100%
    );
}
